.btn {
  padding: 5px 16px;
  color: #777777;
  background: #d7d7d7;
  text-decoration: none;
  border: 1px solid #ababab;
  border-bottom: 3px solid #ababab;
}

.btn:hover {
  background: #f0f0f0;
  border: 1px solid #afafaf;
  border-bottom: 3px solid #afafaf;
}

.btn-green {
  color: white;
  background: #7cc576;
  border: 1px solid #68a663;
  border-bottom: 3px solid #68a663;
}

.btn-green:hover {
  background: #85d37e;
  border: 1px solid #7cc576;
  border-bottom: 3px solid #7cc576;
}

.btn-blue {
  font-size: 14px;
  color: #f0f0f0;
  background: #2876c5;
  border: 1px solid #1b5995;
  border-bottom: 3px solid #1b5995;
  margin-right: 10px;
}

.btn-blue:hover {
  background: #2a7ccf;
  border: 1px solid #1b5995;
  border-bottom: 3px solid #1b5995;  
}

.btn-blueLight {
  font-size: 14px;
  color: #f0f0f0;
  background: #62b9dc;
  border: 1px solid #006d8e;
  border-bottom: 3px solid #006d8e;
}

.btn-blueLight:hover {
  background: #6dcef5;
  border: 1px solid #006d8e;
  border-bottom: 3px solid #006d8e;  
}

