<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Travel App</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
        <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
      <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/css/application.css">
      <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
      <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="/static/js/plugins.js"></script>
      <script type='text/javascript' src="/static/js/vendor/jquery-ui-1.9.1.custom.min.js"></script>
      <script type='text/javascript' src='/static/js/vendor/fullcalendar.js'></script>      
      <script src="/static/js/main.js"></script>
  </head>
  <body>
    <div class="welcome-login-wrapper">
      <div class="welcome-login">
        <div class="brand"></div>
        <div class="sub-brand">The easiest way to create and collaborate on travel plans with those you love.</div>
        <div class="login">
          <a href="/singly/authenticate/facebook" class="btn btn-blue">Login with <strong>Facebook</strong></a>
          <a href="/singly/authenticate/twitter" class="btn btn-blueLight">Login with <strong>Twitter</strong></a>
        </div>
      </div>
    </div>
    <div id='map'></div>
    <script>
      mapbox.auto('map', 'zethussuen.map-s35fooca');
    </script>
  </body>
</html>
